<h1>New product_design</h1>

<% form_for(@product_design) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :creating_user_id %><br />
    <%= f.text_field :creating_user_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :base_value %><br />
    <%= f.text_field :base_value %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_designs_path %>
